<!DOCTYPE html>
<html lang="en">
<head>
    <title>首页</title>
    <!-- 设置文档编码 -->
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <!--  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script>
        function goRegister(){
            location.href="dispatcher!checkUserName.do";
        }
    </script>
    <!-- CSS样式 -->
    <style type="text/css">
        .container div{
            text-align:center;
        }
    </style>
</head>
<body>
<div class="container">
    <div ><h4>请选择你要进行的操作</h4></div>
    <br/>
    <div ><button type="button" class="btn btn-primary btn-lg btn-block active" οnclick="location=''" >我要出租汽车</button></div>
    <br/>
    <div ><button type="button" class="btn btn-primary btn-lg btn-block" disabled="disabled" οnclick="location=''">我要租赁汽车</button></div>
    <div ><a href="http://www.baidu.com" target="_blank">公司新闻</a></div >
    <div ><a href="" target="_blank">公司新闻</a></div >
    <a href="dispatcher!checkUserName.do">去注册</a>
    <div ><button type="button" class="btn btn-primary btn-lg btn-block" disabled="disabled" οnclick="goRegister()">我要租赁汽车</button></div>

</div>
</body>
</html>
